<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>AllUsers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <style>
        .text {
            float: right;
        }

        /* Add a color to the active/current link */
        .text a.active {
            background-color: #04AA6D;
            color: white;
        }

        body {

        }

    </style>
</head>

<body>
<!--хедер-->
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">

        <div class="container-fluid">
            <span class="navbar-brand mb-0 h2" th:text="${loggedUser.getUsername()}"></span>
            <span class="navbar-brand mb-0 h2"> with roles:</span>
            <span class="navbar-brand mb-0 h2" th:text="${auth.getAuthorities()}"></span>

            <div class="text">
                <a class="navbar-brand" href="/logout">Logout</a>
            </div>

        </div>
    </div>
</nav>
<!---->

<div class="container-fluid  overflow-hidden">
    <div class="row">
        <div class="col-sm-2 d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 200px;height: 1000px">
            <div>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="/admin" class="nav-link active" aria-current="page">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="/admin"></use>
                            </svg>
                            Admin
                        </a>
                    </li>
                    <li>
                        <a href="/user" class="nav-link link-dark">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#speedometer2"></use>
                            </svg>
                            User
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-9 overflow-hidden">
            <br>
            <H2> Admin panel </H2>
            <div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/admin">User table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin/addNewUser">New</a>
                    </li>

                </ul>

                <div class="border">
                    <div class="container overflow-hidden">
                        <h4>Add new user</h4>
                    </div>
                </div>
                <div class="border">
                    <div class="container overflow-hidden">
                        <br>
                        <form action="#" th:method="POST" th:action="@{/admin/createUser}" th:object="${user}">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" th:field="*{name}" class="form-control" id="name">
                            </div>

                            <div class="mb-3">
                                <label for="lastname" class="form-label">LastName</label>
                                <input type="text" th:field="*{lastName}" class="form-control" id="lastname">
                            </div>

                            <div class="mb-3">
                                <label for="age" class="form-label">Age</label>
                                <input type="text" th:field="*{age}" class="form-control" id="age">
                            </div>

                            <div class="mb-3">
                                <label for="emailHelp" class="form-label">Email</label>
                                <input type="text" th:field="*{email}" class="form-control" id="emailHelp">
                            </div>

                            <div class="mb-3">
                                <label for="username" class="form-label">UserName</label>
                                <input type="text" th:field="*{username}" class="form-control" id="username">
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="text" th:field="*{password}" class="form-control" id="password">
                            </div>

                            <input th:type="checkbox" th:id="2" th:name="ADMIN" th:value="ADMIN">
                            <label th:for="ADMIN">Admin</label>
                            <input th:type="checkbox" th:id="1" th:name="USER" th:value="USER">
                            <label th:for="USER">User</label>
                            <br>
                            <button type="submit" class="btn btn-success">Add new User</button>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>

</html>

<!--<form action="#" th:method="POST" th:action="@{/admin/createUser}" th:object="${user}">-->
<!--    <label for="name">Enter name: </label>-->
<!--    <input type="text" th:field="*{name}" id="name"/>-->
<!--    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>-->
<!--    <br>-->
<!--    <br>-->
<!--    <label for="lastName">Enter lastName: </label>-->
<!--    <input type="text" th:field="*{lastName}" id="lastName"/>-->
<!--    <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName error</div>-->
<!--    <br>-->
<!--    <br>-->
<!--    <label for="age">Enter age: </label>-->
<!--    <input type="text" th:field="*{age}" id="age"/>-->
<!--    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>-->
<!--    <br>-->
<!--    <br>-->
<!--    <label for="email">Enter E-Mail: </label>-->
<!--    <input type="text" th:field="*{email}" id="email"/>-->
<!--    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>-->
<!--    <br>-->
<!--    <br>-->
<!--    <label for="username">Enter username: </label>-->
<!--    <input type="text" th:field="*{username}" id="username"/>-->
<!--    <div style="color: red" th:if="${#fields.hasErrors('username')}"  th:errors="*{username}">Username must be Unique</div>-->
<!--    <br>-->
<!--    <br>-->
<!--    <label for="password">Enter password: </label>-->
<!--    <input type="text" th:field="*{password}" id="password"/>-->
<!--    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>-->
<!--    <br>-->
<!--    <input th:type="checkbox" th:id="1" th:name="ADMIN" th:value="ADMIN">-->
<!--    <label th:for="ADMIN">Admin</label>-->
<!--    <input th:type="checkbox" th:id="2" th:name="USER" th:value="USER">-->
<!--    <label th:for="USER">User</label>-->

<!--    <br>-->
<!--    <br>-->

<!--    <input type="submit" value="Add new User">-->
<!--</form>-->